<main>
  <ul id="messages">
    <li class="other default"><span>Hello there!</span></li>
  </ul>
  <form id="chatBox" action="">
    <input id="m" autocomplete="off" autofocus placeholder="Your message..." /><button>Send</button>
  </form>
</main>