<main>
  <section id="chatContainer">
    <aside id="chatInfo">
        <strong>Connected users: </strong><span id="connectedUsers">10</span>
    </aside>
    <form id="nameBox" action="">
      <span>Enter your name: </span><input id="name" autofocus autocomplete="off" placeholder="Your name..." />
    </form>
    <ul id="messages">
      <li data-name="Admin" class="other default"><span>Hello there!</span></li>
    </ul>
    <form id="chatBox" action="">
      <input id="m" autocomplete="off" placeholder="Your message..." /><button>Send</button>
    </form>
  </section>
</main>
