<main>
  <section id="chatContainer">
    <form id="nameBox" action="">
      <span>Name: </span><input id="name" autocomplete="off" placeholder="Your name..." />
    </form>
    <ul id="messages">
      <li data-name="Admin" class="other default"><span>Hello there!</span></li>
    </ul>
    <form id="chatBox" action="">
      <input id="m" autocomplete="off" autofocus placeholder="Your message..." /><button>Send</button>
    </form>
  </section>
</main>