* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 1em;
  line-height: 1.4;
  background-color: rgb(67, 72, 76);
  color: rgb(58, 48, 66);
}

main {
  background-color: rgb(244, 244, 244);
  margin: 0 auto;
  max-width:25em;
  position: relative;
}

form {
  background: #28292d;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width:25em;
  padding: 0;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
form input {
  border: none;
  border-bottom: .1em solid rgba(236, 240, 241,1);
  margin: .8em 2.5%;
  padding: 0;
  width: 70%;
  vertical-align: top;
  font-size: 1em;
  line-height: 1.4;
  background-color: #28292d;
  color: #f5f5f5;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  outline: none;
}

form input:focus {
  border-bottom: .1em solid rgba(236, 240, 241,0.25);
}

form button {
  width: 25%;
  border: 0;
  background: rgba(39, 174, 96,1.0);
  color: #d8d8d8;
  border: none;
  padding: .8em;
  font-size: 1em;
  font-weight: 700;
  vertical-align: top;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  line-height: 1.4;
  text-transform: uppercase;
}

form button:hover,
form button:focus {
  background: rgba(46, 204, 113,1.0);
  outline: none;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0 0 4em 0;
  font-size: 1em;
  min-height: 100vh;
  max-height: 100vh;
  overflow: scroll;
}
#messages li {
  padding: 1em 1em 0;
  background: transparent;
}

#messages li > span {
  display: inline-block;
  padding: .5em 1em;
  color: #28292d;
  max-width: 80%;
}

#messages li.other {
  text-align: left;
}

#messages li.other::after {
  content: "Anonymous";
  display: block;
  padding: .1em 0 0;
  font-size: .7em;
}

#messages li.other.default::after {
  content: "Welcome";
}

#messages li.other > span {
  background-color: rgb(236, 235, 228);
}

#messages li.current {
  text-align: right;
}

#messages li.current::after {
  content: "You";
  display: block;
  padding: .1em 0 0;
  font-size: .7em;
}

#messages li.current > span {
  background-color: rgb(198, 216, 175);
}

#chatBox.invalid::before {
  content: "Min. 3 characters";
  position: absolute;
  display: inline-block;
  background-color: rgba(231, 76, 60,1.0);
  color: #d8d8d8;
  padding: .5em 1em;
  font-size: .8em;
  bottom: 100%;
  left: 0;
}